.taskboard {
  width: 100%;
  padding-left: 320px;
  height: 100vh;
  &.collapsed{
    padding-right: 320px;
  }
}

.taskboard-tasks {
  padding: 0 10px;
  &__input-wrapper {
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #3c3c3c;
    color: #ffffff;
    &:focus {
      outline: none;
    }
  }
  &__create-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 600;
    color: #40c4ad;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
    background: rgba(0,0,0,.1);
    &:focus {
      outline: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.taskboard-header {
  padding: 10px 10px 10px 10px;
  background: #382040;
  border-bottom: 1px solid #3c3c3c;
  &__title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
  }
}

@import "task";
@import "task-edit";