body {
  background: #242426;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  border-right: 1px solid #3c3c3c;
  position: fixed;
  width: 320px;
  height: 100vh;
  left: 0;
  top: 0;
}

.sidebar-nav {
  margin-top: 20px;
}

.sidebar-nav__link {
  display: block;
  color: #acacae;
  padding: 15px 0 15px 20px;
  border-left: 4px solid transparent;
  font-weight: 600;
}

.sidebar-nav__link.active {
  color: #ffffff;
  border-left: 4px solid #40C4AD;
  background: rgba(0, 0, 0, 0.1);
}

.sidebar-nav__link:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #ffffff;
}

.taskboard {
  width: 100%;
  padding-left: 320px;
  height: 100vh;
}

.taskboard.collapsed {
  padding-right: 320px;
}

.taskboard-tasks {
  padding: 0 10px;
}

.taskboard-tasks__input-wrapper {
  position: relative;
}

.taskboard-tasks__input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  color: #ffffff;
}

.taskboard-tasks__input:focus {
  outline: none;
}

.taskboard-tasks__create-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 600;
  color: #40c4ad;
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.taskboard-tasks__create-button:focus {
  outline: none;
}

.taskboard-tasks__create-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.taskboard-header {
  padding: 10px 10px 10px 10px;
  background: #382040;
  border-bottom: 1px solid #3c3c3c;
}

.taskboard-header__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.task {
  padding: 10px;
  border-bottom: 1px solid #3c3c3c;
  cursor: pointer;
}

.task:hover {
  background: rgba(0, 0, 0, 0.1);
}

.task__circle {
  border: 2px solid #3c3c3c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.task__name {
  color: #acacae;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 10px;
}

.task__star {
  float: right;
}

.task__star img {
  width: 20px;
  height: 20px;
}

.task-edit {
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  right: 0;
  border-left: 1px solid #3c3c3c;
  background-color: #1e1e1e;
  padding: 10px;
}

.task-edit__name, .task-edit__notes {
  width: 100%;
  background: #242426;
  border: none;
  border: 1px solid #3c3c3c;
  color: #acacae;
  padding: 15px;
}

.task-edit__notes {
  margin-top: 10px;
}

.task-edit__save {
  margin-top: 10px;
  border: 1px solid #3c3c3c;
  background: #242426;
  color: #acacae;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.task-edit__save:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.task-edit__bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #242426;
  border-top: 1px solid #3c3c3c;
}

.task-edit__hide {
  background: transparent;
  border: none;
  height: 40px;
  cursor: pointer;
  float: left;
}

.task-edit__hide img {
  width: 30px;
  height: 30px;
}

.task-edit__delete {
  background: transparent;
  border: none;
  height: 40px;
  cursor: pointer;
  float: right;
}

.task-edit__delete img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=index.css.map */